*{
    margin:0;
    padding:0;
}

body{
    width:100%;
    cursor: url('./img/cursor.png'), auto;
}


.wrapper{
    width:100%;
    height:100vh;
    background-color: #62D2D2;
    display:flex;
    justify-content: center;
    align-items: center;
}

.slider-wrapper{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       flex-wrap: wrap;
       background-color:#f0d1f3;
       width:70%;
       padding: 1rem ;  
       border-radius: 3%; 
       overflow: hidden;  
       max-width:35rem;
}

.slider-images{
    width:100%;
    display:flex;
    flex-wrap:nowrap;
    flex-direction: row;
    transition:all 0.6s ease;
}


.img{
    width:100%;
    border-radius: 3%;
    opacity:0;
    visibility:hidden;
}


.text-wrapper{
    display:flex;
    width:50%;
    transition:all 0.2s ease;
    justify-content:space-between;
    margin-top:1rem;
    opacity: 1;
    transition: opacity 0.5s ease;
}


.text{
    font-size:1rem;
    font-style: italic;
    display: none;
    width:100%; 
}


.buttons{
    display:flex;
    justify-content: space-between;
    width:7rem;
    margin-top:1rem;
}

input[type="radio"]{
    appearance: none;
}

label{
    display:block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    cursor: pointer;
    border: 0.4rem solid #f0d1f3;
    background-image: url(./img/white-star.png);

}

input[id="button1"]:checked ~ .buttons label[for="button1"],
input[id="button2"]:checked ~ .buttons label[for="button2"],
input[id="button3"]:checked ~ .buttons label[for="button3"],
input[id="button4"]:checked ~ .buttons label[for="button4"]{
    background-color:#9eb0ff;
}

input[id="button1"]:hover ~ .buttons label[for="button1"],
input[id="button2"]:hover ~ .buttons label[for="button2"],
input[id="button3"]:hover ~ .buttons label[for="button3"],
input[id="button4"]:hover ~ .buttons label[for="button4"]{
    background-color: #96f4dde0;
}

input[id="button1"]:active:hover ~ .buttons label[for="button1"],
input[id="button2"]:active:hover ~ .buttons label[for="button2"],
input[id="button3"]:active:hover ~ .buttons label[for="button3"],
input[id="button4"]:active:hover ~ .buttons label[for="button4"]{
    background-color: #96f4dde0; 
}

input[id="button1"]:focus:hover ~ .buttons label[for="button1"],
input[id="button2"]:focus:hover ~ .buttons label[for="button2"],
input[id="button3"]:focus:hover ~ .buttons label[for="button3"],
input[id="button4"]:focus:hover ~ .buttons label[for="button4"]{
    background-color: #9eb0ff; 
    
}

input[id="button1"]:checked ~ .text-wrapper .text1,
input[id="button2"]:checked ~ .text-wrapper .text2,
input[id="button3"]:checked ~ .text-wrapper .text3,
input[id="button4"]:checked ~ .text-wrapper .text4{
        display:block;
    }

input[id="button1"]:checked ~  .text-wrapper .text1 {
   opacity:1;
}
input[id="button2"]:checked ~ .text-wrapper .text2{
    opacity:1;
}  
input[id="button3"]:checked ~ .text-wrapper .text3{
    opacity:1;
} 
input[id="button4"]:checked ~ .text-wrapper .text4{
    opacity:1;
} 


input[id="button1"]:checked ~  .slider-images .img1,
input[id="button2"]:checked ~  .slider-images .img2,
input[id="button3"]:checked ~  .slider-images .img3,
input[id="button4"]:checked ~  .slider-images .img4{
    opacity:1;
    visibility:visible;
}


input[id="button1"]:checked ~ .slider-images{
    transform: translateX(0);
}  

input[id="button2"]:checked ~ .slider-images{
    transform: translateX(-100%);
}  
input[id="button3"]:checked ~ .slider-images{
    transform: translateX(-200%);
  
} 
input[id="button4"]:checked ~ .slider-images{
    transform: translateX(-300%); 
} 

input[id="button1"]:checked ~ .text-wrapper .text1,
input[id="button2"]:checked ~ .text-wrapper .text2,
input[id="button3"]:checked ~ .text-wrapper .text3,
input[id="button4"]:checked ~ .text-wrapper .text4 {
    display: block;
    transform: scale(0.5);
    animation: grow 0.5s forwards;
}

@keyframes grow {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@media (max-width:600px){
    .slider-wrapper{
        flex-direction: column;
        align-items: flex-start; 
    }
    .item1{
        order:3;
    }

    .item2{
        order:2;
    }

    .buttons{
        margin: 1rem auto 0;
    }
    .text-wrapper{
        width:100%;
        flex-wrap: nowrap;
        margin-top:0.5rem;
    }
   
}

@media (max-width: 767px) {
    body, 
    label {
        cursor: default;

    }
}